@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --card: #ffffff;
    --card-foreground: #171717;
    --primary: #000000;
    --primary-foreground: #ffffff;
    --secondary: #f3f4f6;
    --secondary-foreground: #1f2937;
    --muted: #f3f4f6;
    --muted-foreground: #6b7280;
    --accent: #f3f4f6;
    --accent-foreground: #1f2937;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #000000;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card: #171717;
    --card-foreground: #ededed;
    --primary: #ffffff;
    --primary-foreground: #000000;
    --secondary: #27272a;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a1a1aa;
    --accent: #27272a;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --border: #27272a;
    --input: #27272a;
    --ring: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
